<header>
  <h1>Bo min</h1>
  <div class="contact">
    <p class="facebook">facebook: <a href="https://www.facebook.com/bomin.lee.104">https://www.facebook.com/bomin.lee.104</a></p>
    <p class="email">email: <a href="https://www.facebook.com/bomin.lee.104">https://www.facebook.com/bomin.lee.104</a></p>
  </div>
</header>
